# Auth0
AUTH0_SECRET=replace-with-your-own-secret-generated-with-openssl
AUTH0_DOMAIN='{DOMAIN}'
AUTH0_CLIENT_ID='{CLIENT_ID}'
AUTH0_CLIENT_SECRET='{CLIENT_SECRET}'
APP_BASE_URL=http://localhost:3000

# Server environment
NODE_ENV=development
PORT=3030

# Mongodb
MONGO_USERNAME=root
MONGO_PASSWORD=root
MONGO_DB=my-film-list

DATABASE_URL=mongodb://localhost:27017/${MONGO_DB}?authSource=admin

# Sentry
APM_DSN=

# the movie db
TMDB_API_KEY=
TMDB_API_READ_ACCESS_TOKEN=
